{% extends 'admin/base.html.twig' %}

{% block title %}Administration des étudiants{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des étudiants</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>email</th>
                <th>Référent</th>
                <th>école</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.email}}</td>
                <td>Prof réf</td>
                {#<td>{% for school in student.schools %}{{school.city}}{% endfor %}</td>#}
                <td><a href="#" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
