{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <h1>Discipline index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>École</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.title }}</td>
                <td></td>
                <td>
                    <a href="{{ path('teacher_discipline_add', {'slug': school.slug}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                </td>
            {% for discipline in disciplines %}

                    <td>{{ discipline.id }}</td>
                    <td>{{ discipline.title }}</td>
                    <td>
                        <a href="{{ path('discipline_show', {'id': discipline.id}) }}">show</a>
                        <a href="{{ path('discipline_edit', {'id': discipline.id}) }}">edit</a>
                    </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discipline_new') }}">Ajouter une discipline</a>
{% endblock %}
