{% extends 'teacher/base.html.twig' %}

{% block title %}Bonjour {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container mb-3">
        <h2 class="text-right">
            {{ user.fullName }} {{user.id}}
        </h2>
        <div class="container-fluid">
    <h1 class="my-5">Bienvenue sur le tableau de bord</h1>
        <a href="{{ path ('school_index') }}" class="href"><button class="btn-info">Ajouter un employeur</button></a>
        <h4>Vos écoles</h4>
        {% for school in schools %}
        <a href="{{ path('school_show',{'id': school.id})}}" class="href"><button class="btn-solid mb-3"><strong>{{ school.title }}</strong> {{ school.slug }}</a></button>
        <br>
        {% endfor %}
</div>
    </div>

{% endblock %}
