{% extends 'base.html.twig' %}

{% block title %}{{ school.schoolName }}{% endblock %}

{% block body %}
    <div class="container mb-3">
        <div class="row">
        <div class="col-6 text-center">
                <a href="{{ path('teacher')}}"><button class="btn-info">retour au tableau de bord</button></a>
        </div>
        <div class="col text-center">
            <a href="{{ path('student_add', {'slug': school.slug})}}"><button class="btn-info text-right">ajouter un élève</button></a>
        </div>
    <h1 class="my-5">Liste des élèves de {{ school.city }}</h1>
        {% if students == null %}
            <p> Vous n'avez pas d'élèves référencés dans cette école </p>
        {% else %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Référent</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>École</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{student.id}}</td>
                            <td>{{student.mentor.fullName}}</td>
                            <td>{{student.fullName}}</td>
                            <td>{{student.email}}</td>
                            <td>discipline</td>
                        {% endfor %}
                    </tbody>
                </table>
        {% endif %}
</div>
    </div>

{% endblock %}
