<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{path ('user_home') }}">TiZiK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{path ('admin_home') }}"><i class="fas fa-home"></i> Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{path ('users_index') }}"><i class="fas fa-users"></i> Utilisateurs<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path ('teachers_index')}}"><i class="fas fa-university"></i> Enseignant(e)s<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path ('students_index')}}"><i class="fas fa-graduation-cap"></i> Étudiant(e)s<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path ('households_index')}}"><i class="fas fa-handshake"></i> Foyers<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-music"></i> Disciplines<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path ('account_profile')}}">Profil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('account_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inscription</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                        <a class="dropdown-item" href="{{ path ('teacher_register') }}">Vous êtes enseignant(e)</a>
                        <a class="dropdown-item" href="{{ path ('student_register') }}">Vous êtes étudiant(e)</a>
                        <a class="dropdown-item" href="{{ path ('household_register') }}">Vous êtes parents</a>
                        <a class="dropdown-item" href="{{ path ('account_register') }}">Vous êtes autodidacte</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('account_login') }}" class="nav-link">Connexion</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">O</button>
        </form>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}