{% extends 'base.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block body %}
<div class="container">
    <div class="card-header text-center">
        <h1 class="h1">BienVenuE sUr le dOck, Doc</h1>
        <div class="row">
            <div class="col">
                <a href="#" class="btn btn-primary btn-lg">Créer un évènement</a>
            </div>
            <div class="col">
                    <a href="#" class="btn btn-primary btn-lg">les écoles</a>
            </div>
            <div class="col">
                    <a href="{{ path ('student')}}" class="btn btn-primary btn-lg">les élèves</a>
            </div>
            <div class="col">
                    <a href="#" class="btn btn-primary btn-lg">les collègues</a>
            </div>
            <div class="col">
                    <a href="#" class="btn btn-primary btn-lg">les activités</a>
            </div>
        </div>
    </div>
        

    <div class="row">
        <div class="col-2 mr-2 text-center">
            <h2>agenda</h2>
                {% for i in 0..2 %}
                    <div class="row text-center">
                        <a href="#" class="card bg-light mb-3">
                            <div class="card-header text-center">
                                <h2>{{ event }}</h2>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ date }}</h4>
                            </div>
                            <p class="card-text text-center">{{ students }}</p>
                        </a>
                    </div>    
                {% endfor %}
        </div>
        <div class="col-8 text-center">
            <h2>dernières activités</h2>
                {% for i in 0..2 %}
                    <div class="row">
                        <div class="col text-center">
                            <a href="#" class="card bg-light mb-3">
                                <div class="card-header text-center">
                                    <h2>{{ title }}</h2>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ introduction }}</h4>
                                </div>
                                <p class="card-text text-center">{{ students }}</p>
                            </a>
                        </div>
                    </div>    
                {% endfor %}
        </div>
        <div class="col ml-2 text-center">
            <h2>menu</h2>
                <div class="row">
                    <div class="col text-center">
                        <a href="#" class="btn btn-secondary mb-1">Projets</a>
                        <a href="#" class="btn btn-secondary mb-1">Compétences</a>
                        <a href="#" class="btn btn-secondary mb-1">Partothèque</a>
                        <a href="#" class="btn btn-secondary mb-1">Matériel</a>
                        <a href="#" class="btn btn-secondary mb-1">Concerts</a>
                        <a href="#" class="btn btn-secondary mb-1">Fiches Pédagogiques</a>
                        <a href="#" class="btn btn-secondary mb-1">La Boîte d'anche</a>
                    </div>
                </div>
        </div>
    </div>
</div>  
{% endblock %}
