{% extends 'base.html.twig' %}

{% block title %}School index{% endblock %}

{% block body %}
    <h1>School index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Address</th>
                <th>Disciplines</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.id }}</td>
                <td>{{ school.title }}</td>
                <td>{{ school.slug }}</td>
                <td>{{ school.address }}</td>
                <td>discipline</td>
                <td>
                    <a href="{{ path('school_show', {'slug': school.slug}) }}" class="btn btn-primary">
                    <i class="far fa-eye"></i> Voir</a>
                    {% if user.wish == 'teachers' %}
                    <a href="{{ path('school_teacher', {'slug': school.slug}) }}" class="btn btn-success"><i class="fas fa-check"></i> Ajouter</a>
                    {% endif %}
                    {# {% if teacher.schools "contains" school.id %}
                    <a href="{{ path('school_teacher', {'slug': school.slug}) }}" class="btn btn-danger"><i class="fas fa-eject"></i> Retirer</a>
                    {% endif %} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('school_new') }}">Create new</a>
{% endblock %}
